*{
	font-family: helvetica, arial, sans-serif;
	text-decoration: none;
	
}

#container {
	margin:  0 auto;
	width: 100%;
}
#header{
	width: 100%;
	height: 90px;
	position: fixed;
	top: -20px;
	background-color: white;
	z-index: 100;
}

header {
	background-color: white;
	margin: 0 auto;
	width:960px;
	height:60px;
	
}

header img {
	float: left;
	margin-right: 20px;
}
.menu nav ul{
	margin-top: 30px;
	padding-top: 2.1em;
}

.menu li {
	display: inline;
	list-style: none;
	font-size: 1em;
	font-weight: bold;
}

.menu li a {
	text-decoration: none;
	padding: 0.9em;
}
a:link{
	color:rgb(249,105,14);

}
a:hover{
	color:red;
}
a:active{
	color:white;
}
#current a{
	color: red;
}


#lake img{
	width:100%;
	height:600px;
	margin-top: 60px;

}

#mainsection{
	margin: 0 auto;
	width:960px;
	height: 1250px;
	position: relative;
}
#hometitle{
	margin-top: -23em;
	margin-bottom: 16em;

}
#hometitle h1{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-width: 10px;
	border-style: solid;
	border-color: white;
	width: 940px;
	height: 50px;
	font-size: 38px;
	font-family: helvetica;
	color: white;
	background-color: rgba(191,191,191,0.5);
}
#fttldescription{
	width:960px;
	height: 180px;
	background-color: #003171;
	font-family: arial;
	color: white;
	margin-top: 0px;

}
#fttldescription .p1{
	font-size: 25px;
	text-align: center;
	margin-bottom: 0px;
	margin-top: -90px;
	padding-top: 25px;

}
#fttldescription .p2{
	width: 920px;
	height: 70px;
	padding-left:25px;
	margin-right: 10px;
	line-height: 140%;
}
hr{
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}
#callusvideo{
	width:960px;
	height: 360px;
	margin-top: 10px;
	background-color: lightgrey;
}
.callus{
	width:316px;
	height: 360px;
	margin-left:0px;
	float: left;
	background-color: #003171;
	font-family: arial;
	color: white;
	background-color:rgb(249,105,14);
}
.callus p{
	text-align: center;
	vertical-align: middle;
	font-size: 25px;
	margin-top: 20px;
	padding-top: 10px;
}
.callus .p1{
	padding-top: 60px;
}
.videohome{
	width:630px;
	height: 315px;
	float:left;
	padding-left: 5px;
}
.videohome iframe{
	border: 0px;
}
#adventure{
	width:960px;
	height: 320px;
	float: left;
	margin-top: 10px;
	display: inline-block;
	background-color: lightgrey;
}
#adventure .best4you{
	font-family: arial;
	font-size: 1.2em;
	font-weight: bold;
	padding-left: 20px;
	padding-top: 15px;
}
.adventureflight, 
.sight{
	width:316px;
	height: 300px;
	float:left;
	padding-right: 6px;
}
.adflight, 
.sightsee, 
.charterflight{
	width:316px;
	height:40px;
	float: left;
}
.adflight p, 
.sightsee p, 
.charterflight p{
	text-align: center;
	margin-top: 10px;
	font-size: 1.1em;
	font-family: arial;
	font-weight: bold;
}
.adflight h5, 
.sightsee h5, 
.charterflight h5{
	width:100px;
	height: 25px;
	font-family: arial;
	text-align: center;
	margin-top: -10px;
	color: #003171;
	background-color: rgb(249,105,14);
	margin-left: 110px;
	padding-top: 10px;
}

.charter{
	width:316px;
	height: 300px;
	float: left;
}

#footerwrapper{
	margin: 0 auto;
	width: 960px;
	height: 120px;
	background-color: #003171;
	font-family: helvetica;
	color: white;
	clear:both;
}
.footer{
	width:420px;
	height: 120px;
	float: left;
	margin-left: 50px;
	margin-top: 15px;

}
.footer p{
	margin-top: 8px;
	font-size: .8em;
}
.footer h5{
	margin-top: 10px;
	margin-bottom: 15px;

}
.footercontactus{
	width: 460px;
	height: 120px;
	float:right;
	margin-top: 15px;

}
.footercontactus p{
	margin-right:0px;
	margin-left:330px;
	margin-top: 8px;
	font-size: .8em;
}

.footercontactus a:link{
	color: white;
}
.footercontactus a:hover{
	color: red;

}
.footercontactus a:active{
	color: white;
	
}
.footercontactus a:visited{
	color: white;
	
}
/*------End of Index Page------*/
/*------start of Adventure Page------*/

#gallerysection{
	margin: 0 auto;
	width:960px;
	height: 1470px;
	position: relative;
}
#adventureflight{
	width:960px;
	height: 1030px;
	background-color: lightgrey;
}
.topsection{
	width: 960px;
	height: 300px;
	margin-top: 15px;
}
.topsection img, 
.bottomsection img{
	float: left;
}
.middlesection{
	width: 960px;
	height: 300px;
	margin-top: 20px;
	padding-top:0px;
}
.middlesection img{
	float: left;
}
.bottomsection{
	width: 960px;
	height: 300px;
	margin-top: 10px;
}

.divdescription{
	margin-left: 20px;
	width: 460px;
	height: 320px;
	float: left;

}
.adventuredescription{
	padding-right: 10px;
}
.divdescription .booknow{
	background-color: rgb(249,105,14);
	width:100px;
	padding-left: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
}
.sightseeingpage, .chartertrippage, .adventurepage{
	width: 400px;
	height: 30px;
	float: left;
}
.sightseeingpage h4{
	margin-top: 0px;
	margin-left: 160px;
	width: 180px;
	height: 25px;
	background-color: rgb(249,105,14);
	color: white;
	padding-top: 10px;
	padding-left: 30px;
}

.chartertrippage h4{
	margin-top: 0px;
	margin-left: 200px;
	width: 200px;
	height: 25px;
	background-color: rgb(249,105,14);
	color: white;
	padding-top: 10px;
	padding-left: 40px;
}

/*------End of Adventure Page------*/
/*------Start of Sightseeing Page----*/

.adventurepage h4{
	margin-top: 0px;
	margin-left: 160px;
	width: 220px;
	height: 25px;
	background-color: rgb(249,105,14);
	color: white;
	padding-top: 10px;
	padding-left: 8px;
}

/*----End of Sightseeing Page------*/

/*-----Start of Gallery ------*/
.video{
	margin-left: 0px;
	margin-top: 30px;
}
.video iframe{
	border: 0px;
}

#glidingtitle{
	text-align: center;
	font-size: 1.1em;
	margin-bottom: 10px;
}
#glidingtitle p{
	font-weight: bold;
}
#topsection_gallery, 
#bottomsection_gallery{
	width: 968px;
	height: 230px;
	margin-left: 0px
}
#topsection_gallery img{
	margin-right: 2px;
}

#bottomsection_gallery img{
	margin-right:2px;
}
.normal:hover{
    transform:scale(1.8);
}

.normal{
    transition: all 0.2s ease;
}

/*------End of Gallery Page-----*/
/*------Start of Booking Page-----*/

#mainsectionbooking{
	margin: 0 auto;
	width:960px;
	height: 1146px;
	position: relative;
}
#bookingcontainer{
	width:960px;
	height: 720px;
    background-color: lightgrey;
}
.bookingrequest{
	width: 720px;
	height: 20px;
	margin-top: 0px;
	padding-top: 40px;
	padding-left: 40px;
}
.form-booking{
	width:960px;
	height: 30px;
	margin-left: 120px;
}
.form-booking input{
	margin-left: 100px;
}

.form-booking label{
	
}
.for_label{
	width: 180px;
	height: 30px;
	float: left;
	text-align: right;
	margin-right: 10px;
	font-weight: bold;
}

.for_input{
	width: 315px;
	height: 30px;
	margin-left: 0px;
	float: left;

}
#for_input input{
	margin-left: 0px;
}

input#firstname, 
input#lastname, 
input#email, 
input#dt{
	width: 310px;
	height: 20px;
	margin-left: 0px;
}

input#contactno, 
input#country, 
input#placeofpickup{
	margin-left: 0px;
}

#contactno,
#country,
#placeofpickup{
	width: 310px;
	height: 20px;
}

#contactno-error.danger,
#country-error.danger,
#placeofpickup-error.danger,
#dt-error.danger{
	width:250px;
	margin-right: 190px;
	height: 20px;
	float: right;
}

#tourtype ,#aircrafttype {
	width: 315px;
	height: 18px;
}


#for_submit{
	width: 250px;
	height: 30px;
	float: left;
	margin-top: 190px;
	margin-left: 240px;

}

#for_submit input{
	font-weight: bold;
	font-size: 1em;
}
#tourstartdate,
#tourenddate{
	width: 200px;
	height: 25px;
}

#for_noofguests{
	width: 250px;
	height: 60px;
	float: left;
}
#noofguests, 
#starttime, 
#pickuptime{
	width: 93px;
	height: 18px;
}

#starttime_am_pm, 
#pickuptime_am_pm{
	width: 52px;
	height: 18px;
}

#comments{
	width: 380px;
	height: 220px;
	box-sizing:border-box;
}
#comments-error.danger{
	width:150px;
	margin-right: -235px;
	margin-top: -210px;
	height: 20px;
	float: right;
}

.charterbooking{
	width:720px;
	height: 20px;
	margin-left: 40px;

}
#day-error,
#month-error, 
#year-error,
#starttime-error, 
#starttime_am_pm-error,
#pickuptime-error,
#pickuptime_am_pm-error{
	width: 1px;
	height: 30px;
	float: left;
}
/*-------End of Booking Page------*/
/*-------Start of About Us Page------*/

#mainsectionaboutus{
	margin: 0 auto;
	width:960px;
	height: 2965px;
	position: relative;
}
#aboutus{
	width: 960px;
	height:2540px;
	background-color: lightgrey;
	margin-top: -20px;
}
#aboutus h3{
	text-align: center;
}
#owner{
	width: 960px;
	height: 300px;
	margin-bottom: 0px;
}
.theowner{
	font-size: 1.5em;
	color: rgb(249,105,14)
}
#owner p{
	width: 600px;
	height: 300px;
	float: right;
	padding-right: 20px;
	margin: 0px;
}
h3.theowner{
	width: 960px;
	height: 30px;
	margin-left: -10px;
	margin-bottom: 30px;
	margin-top: 20px;
	padding-top: 20px;
}
h3.staff{
	width: 960px;
	height: 30px;
	margin-left: 0px;
	margin-bottom: 20px;
	margin-top: 20px;
}
h3.aircraft{
	width: 960px;
	height: 30px;
	margin-left: 0px;
	margin-bottom: 30px;
}
.staff {
	margin-top: 0px;
}
#staffwrapper1{
	width: 960px;
	height: 300px;

}
.pilot1{
	width: 600px;
	height: 300px;
	margin-left: 0px;
	float: right;
	padding-right: 18px;
}
#staffwrapper2{
	width: 960px;
	height: 300px;
	margin-top: 20px;
}
.pilot2{
	width: 600px;
	height: 300px;
	float:left;
	margin-left: 10px;
	padding: 15px;

}
.pilot2 h4{
	text-align: right;
	padding-right: 10px;
}
#staffwrapper2 img{
	float: left;
	width:320px;
	height: 300px;
}
#staffwrapper3, #staffwrapper4{
	width: 960px;
	height: 300px;
	margin-top: 20px;
}
#staffwrapper3 img{
	width:320px;
	height: 300px;
	float: left;
	margin-left: -640px;
	padding: 0px;
}
#staffwrapper3 .pilot3{
	width: 600px;
	height: 300px;
	margin-left:0px;
	margin-top: -10px;
	float: right;
	padding-right: 20px;
}

.pilot3 img {
	float: left;
}
.pilot3 h4{
	margin-left: 0px;
}


.pilot4{
	width: 600px;
	height: 300px;
	float: left;
	margin-left: 20px;
}
#staffwrapper4 img{
	padding-left: 20px;
}
.titleaircraft{
	width: 960px;
	height: 30px;
	margin-top: 30px;
	margin-bottom: 10px;
}
#aircrafts{
	width: 960px;
	height: 300px;
	background-color: lightblue;
	margin-top: 20px;
}
#aircraftwrapper1{
	width: 960px;
	height: 300px;
	float: left;
	margin-top: 20px;
}
.helicopter{
	transition: all 0.2s ease;
}

.helicopter:hover{
    transform:scale(1.8);
}
.aircraftname{
	width: 960px;
	height: 40px;
	float: left;
	text-align: left;
	margin-left: 0px;
}
.aircraftname h4{
	width: 250px;
	height: 40px;
	float: left;
}
.cessnaamphibian{
	float: right;
	padding-left: 20px;
    transition: all 0.2s ease;
}
.cessnaamphibian:hover{
    transform:scale(1.8);
}


.name_helicopter, 
.name_amphibian{
	width: 250px;
	height: 40px;
	float: left;
	margin-left: 40px;
}
.name_helicopter h4{
	width: 250px;
	height: 40px;
	padding-left: 120px;
	margin-top: 8px;
}

.name_amphibian h4{
	width: 250px;
	height: 40px;
	margin-left: 165px;
	padding-left: 120px;
	margin-top: 8px;
}
.name_stationair{
	width: 460px;
	height: 40px;
	float: left;
}
.name_stationair h4{
	margin-left: 165px;
	margin-top: 10px;
}


#aircraftwrapper2{
	width: 960px;
	height: 300px;
	float: left;
	margin-top: 20px;
}
.cessnastationair{
	float: left;
	transition: all 0.2s ease;
}
.cessnastationair:hover{
    transform:scale(1.8);
}

.gliderimage{
	width: 470px;
	height: 300px;
	float: right;
	padding-left: 20px;
    transition: all 0.2s ease;
}
.gliderimage:hover{
    transform:scale(1.8);
}
.name_glider{
	width: 250px;
	height: 40px;
	float: left;
}
.name_glider h4{
	margin-left: 230px;
	margin-top: 10px;
}



/*------Start of Contact Us------*/


#mainsectioncontactus{
	margin: 0 auto;
	width: 960px;
	height: 925px;
	position: relative;
}
#contactcontainer{
	width:960px;
	height: 480px;
    margin-top:0px;
    background-color: lightgrey;
}
#contactcontainer form{
	width: 960px;
	height: 400px;
	margin-top: 0px;
	margin-left: 100px;
}
#contactcontainer h3{
	padding-left: 40px;
	padding-top: 20px;
}

#firstname-error.danger, 
#lastname-error.danger{
	width:250px;
	margin-right: 190px;
	height: 20px;
	float: right;
}


#email{
	width:300px;
	height: 14px;
	margin-left: 30px;
	text-align:left;
}
#email-error.danger{
	width:330px;
	margin-right: 110px;
	height: 30px;
	float: right;
}
.danger{
	color:red;
	font-size: .7em;
}
.form-group{
	width:960px;
	height: 30px;
}

.form-group input{
	margin-left: 30px;
}

.form-group .label_message{
	width: 254px;
	height: 20px;
	padding-left: 13px;
	float: left;

}
.form-group .message_textarea{
	width: 30px;
	height: 20px;
	float: left;
}
#message-error.danger{
	width:150px;
	margin-right: 220px;
	height: 20px;
	float: right;
}

.form-group button{
	margin-top: 200px;
	margin-left: 80px;
}
.form-submit{
	width: 960px;
	height: 40px;
	margin-top: 190px;
}
#submit-button{
	font-size: 1em;
	margin-left: 31%;
}
#message{
	width: 380px;
	height: 220px;
	box-sizing:border-box;
}


/*-------Start of Site Map-----*/

#home-sitemap li a{
	text-decoration: underline;
}
/*-----End of Site Map------*/

/*-----start of Media Print ------*/
@media print {
	header, nav, a , .videohome iframe, .video iframe, #header > img{
	display: none;
	}

/* Ensure the content spans the full width */
	 p, footer {
		width: 100%; 
		margin: 0; 
		float: none;
	/* Change text colour to black */
		color: rgb(0,0,0);
}
}
/*----end of Media Print -----*/
